body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #007bff;
}

.main-container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project-container {
  list-style: none;
  padding: 0;
}

.projects-container {
  cursor: pointer;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.35s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.projects-container:hover {
  background-color: #f9f9f9;
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.list-projects {
  color: #007bff;
  transition: color 0.3s;
}

.list-projects:hover {
  color: #0056b3;
}
