.display-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 100px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 85px;
}

.display-cards input {
  padding: 20px;
}

.search-filter-sort {
  padding: 0px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  flex-grow: 1;
}

.select-box {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.create-card-btn {
  background-color: #3498db;
  color: #fff;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.create-card-btn:hover {
  background-color: #2980b9;
}
